[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.3.1"
ultralytics = {git = "https://github.com/THU-MIG/yolov10.git"}
huggingface-hub = "*"
numpy = "<2.0"
matplotlib = "*"

django = "*"
mysql-connector-python = "*"
mysqlclient = "*"
[dev-packages]

[requires]
python_version = "3.11"
