{% extends 'app_general/components/base.html' %}

{% block site_title %} About | {% endblock %}

{% block content %}
    {% for img in classrooms %}
        <div class="ice_cream">
            <h2>id : {{ img.id}}</h2>
            <h2>Room : {{ img.room}}</h2>
            <h2>Date : {{ img.date}}</h2>
            <!-- <img src="data:image/png;base64,{{img.image}}" alt="Base64 Image" width="25%"> -->
            <a href="{% url 'classroom' 1}">
                <img src="data:image/png;base64,{{img.image}}" alt="Base64 Image" width="25%">
            </a>
        </div>
    {% endfor %}
{% endblock %}