<header class="page-header">
    <nav class="menu-bar">
        <div class="group">
            <a class="item title" href="{% url 'home' %}">Siam CCTV</h1></a>
        </div>
        <div class="group">
            <a class="item" href="{% url 'realtime' %}">Realtime</a>
            <a class="item" href="{% url 'video_extract' %}">Video extract</a>
            <a class="item" href="{% url 'upload_image' %}">Upload image</a>
            <a class="item" href="{% url 'classrooms' %}">Classrooms</a>
            <a class="item" href="#">Log in</a>
            <a class="item" href="#">Register</a>
        </div>
    </nav>
</header>